* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0, #382f2c, #6a1a12);
}

.content {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: aqua;
    width: 500px;
    height: 623px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #333;
}

.heading-login{
    position: relative;
    top: -50px;
}

.content-login {
    height: 500px;
}

h1 {
    text-align: center;
}

.content-item {
    width: 300px;
    margin: 8px;
    font-weight: 700;
}

.search-box {

}

.btn-search {
    width: 94px;
    height: 45px;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
}

.content-item-text {
    font-size: 17px;
}

.content-item-input {
    width: 276px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.create-btn:hover, .btn-search:hover {
    opacity: 0.8;
}

.content-item-input-search {
    width: 176px;
    text-align: center;
}

.create-btn {
    background-color: red;
    padding: 2px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    background-color: orange;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}